.wrapper{
    border-radius: 0px 0px 10px 10px;
    background-color: #161619;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.icon{
    height: 35px;
    width: 35px;
    padding: 1px;
    margin: 0px;
    cursor: pointer;
}